<!DOCTYPE html>
<html>
<head>
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/nav' %>

<%= bootstrap_flash %>

<div class='container'>
  
  <%= yield %>

</div>

<h2> Hello Guest...!</h2>
<h3> Welcome to my new website...:D</h3>

</body>
</html>
